<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164441196521-pajnq4uq7o7vbg7a81qcaqi8v83l2i7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164441196521-pajnq4uq7o7vbg7a81qcaqi8v83l2i7s</string>
	<key>API_KEY</key>
	<string>AIzaSyCfakoYgp5rYmAMJhydp1_8Wnmf5mXVRDo</string>
	<key>GCM_SENDER_ID</key>
	<string>164441196521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pastime</string>
	<key>PROJECT_ID</key>
	<string>trial-f54cf</string>
	<key>STORAGE_BUCKET</key>
	<string>trial-f54cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164441196521:ios:49ccb3ba94d0c0e76dad78</string>
	<key>DATABASE_URL</key>
	<string>https://trial-f54cf.firebaseio.com</string>
</dict>
</plist>